# ================================
# App Daltonismo - Example env
# Usado por app-daltonismo/docker-compose.yml
# ================================

TUNNEL_TOKEN=changeme   # Cloudflare tunnel token para app-daltonismo
